@import "tailwindcss";

:root {
  --primary-background: #eee;
  --primary-text: #111;
  --secondary-text: #eeeeee;
}

@font-face {
  font-family: Personal-font-500;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: Personal-font-300;
  src: url(../public/fonts/Lausanne-500.woff2);
}

::selection {
  background-color: #6edb1a;
  color: #eee;
}

::-webkit-scrollbar {
  display: none;
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
  opacity: 0;
  transition: all ease-in-out 0.2s;
}

.link:hover .moveLink {
  opacity: 1;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}